In [16]:
#page1 BTC

import pandas as pd
# data_df2=  pd.read_csv(r'C:\Users\advai\Downloads\Data-30mins1.csv')
# data_df2=  pd.read_csv(r'C:\Users\advai\Downloads\Data-30mins.csv')
data_df2=  pd.read_csv(r'C:\Users\advai\Downloads\Data-1hr.csv')
# data_df2=  pd.read_csv(r'C:\Users\advai\Downloads\raw_data_83_days.csv')
# k= 200*(data_df.at[0,'ETH/USD']/data_df.at[0,'ADA/USD'])

data_df=data_df2.dropna()
MCR=120

def format_float(value):
    return f'{value:,.5f}'
pd.options.display.float_format = format_float

rows=data_df.shape[0]
a = []
for i in range (0,rows-1):
    b = []
#     print(i)
    for j in range(i,rows):
        if j==i:
            k=200*(data_df.at[i,'ETH/USD']/data_df.at[i,'ADA/USD'])
            
        
        else:
#               data_df.at[i,'constant']=data_df.at[0,'constant']*(data_df.at[i,'ADA/USD']/data_df.at[i,'BTC/USD'])
            z=k*(data_df.at[j,'ADA/USD']/data_df.at[j,'ETH/USD'])
            if z<MCR:
                break
            else:
                b.append(z)
    a.append(b)

In [13]:
a

[]

In [5]:
#page2
# MCR=120
x=[]
w=len(a)
i=0
for m in range(0,w):
    
    if len(a[m])<(w-i):
        x.append(len(a[m])+1)
    else:
        x.append(0)
    i=i+1

In [66]:
x

[3, 2, 1, 0, 0, 0, 0, 0]

In [6]:
#page4

#mean

def get_mean(ls):
    v=[]
    for r in ls:
        if r==0:
            continue
        else:
            v.append(r)
    return sum(v)/len(v)


#median with unique entries


def get_median(ls):
    q=[]
    for r in ls:
        if r not in q:
            q.append(r)
    # sort the list
            q.sort()
#     print(q)
        
    # find the median
    if len(q) % 2 != 0:
        m = int((len(q)+1)/2 - 1)
        return q[m]
    else:
        m1 = int(len(q)/2 - 1)
        m2 = int(len(q)/2)
        return (q[m1]+q[m2])/2

#probability of liquidation/no of cases where liquidation occurs
def get_prob(ls):
    q=[]
    w=len(ls)
    for r in ls:
        if r!=0:
            q.append(r)
    return (len(q)/len(ls))*100

    
print("mean:"+str(get_mean(x)))
print("median:"+str(get_median(x)))
print("probability of liquidation:"+str(get_prob(x)))

mean:2295.781614064817
median:2432
probability of liquidation:75.05564387917329

In [1]:
#page1 BTC

import pandas as pd
data_df=  pd.read_csv(r'C:\Users\advai\Downloads\Data-30mins1.csv')
# data_df=  pd.read_csv(r'C:\Users\advai\Downloads\Data-1hr.csv')
# data_df=  pd.read_csv(r'C:\Users\advai\Downloads\raw_data_83_days.csv')
k= 200*(data_df.at[0,'ETH/USD']/data_df.at[0,'ADA/USD'])
MCR=140

def format_float(value):
    return f'{value:,.5f}'
pd.options.display.float_format = format_float

rows=data_df.shape[0]
a = []
for i in range (0,rows):
    b = []
#     print(i)
    for j in range(i,rows):
        if j==i:
            k=200*(data_df.at[i,'ETH/USD']/data_df.at[i,'ADA/USD'])
        
        
        else:
#               data_df.at[i,'constant']=data_df.at[0,'constant']*(data_df.at[i,'ADA/USD']/data_df.at[i,'BTC/USD'])
            z=k*(data_df.at[j,'ADA/USD']/data_df.at[j,'ETH/USD'])
            if z<MCR:
                break
            else:
                b.append(z)
    a.append(b)

KeyboardInterrupt:

In [ ]:
#page2
# MCR=140
x=[]
w=len(a)
i=0
for m in range(0,w):
    i=i+1
    if len(a[m])<(w-i-1):
        x.append(len(a[m]))
    else:
        x.append(0)

In [21]:
data_df=  pd.read_csv(r'C:\Users\advai\Downloads\Data-30mins1.csv')

data_df

                   time  ADA/USD     ETH/USD  230891.5011    Unnamed: 4
0      24-08-2021 00:00  2.88390 3,329.34000    200.00000 229,790.37460
1      24-08-2021 00:30  2.88610 3,315.99000    200.95837     200.00000
2      24-08-2021 01:00  2.88640 3,310.12000    201.33567     200.37550
3      24-08-2021 01:30  1.90000 3,314.37000    132.36116     131.72993
4      24-08-2021 02:00  3.00000 3,339.93000    207.39192     206.40287
...                 ...      ...         ...          ...           ...
17516               NaN      NaN         NaN          NaN           NaN
17517               NaN      NaN         NaN          NaN           NaN
17518               NaN      NaN         NaN          NaN           NaN
17519               NaN      NaN         NaN          NaN           NaN
17520               NaN      NaN         NaN          NaN           NaN

[17521 rows x 5 columns]

In [14]:
data_df

,time,ADA/USD,ETH/USD,43723683.93,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
3,24-08-2021 02:30,0.03397,"7,300.34693",203.43945,200.65593,198.67474,200.00000,"42,984,468.38000"
4,24-08-2021 03:30,0.03430,"7,351.37705",203.99559,201.20446,199.21785,200.54673,200.54673
5,24-08-2021 04:30,0.03443,"7,349.97225",204.79997,201.99784,200.00340,201.33752,201.33752
6,24-08-2021 05:30,0.03700,"7,734.67552",209.15108,206.28941,204.25260,205.61507,205.61507
7,24-08-2021 06:30,0.03700,"8,147.41524",198.56482,195.84800,193.91428,195.20778,195.20778
8,24-08-2021 07:30,0.03623,"8,045.78913",196.86094,194.16742,192.25030,193.53270,193.53270

In [32]:
rows

9

In [38]:
len(a[0])

2

In [37]:
len(a)

8